<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="wsdl">
                    <serviceMetadata httpGetEnabled="True"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="GeneratorService.WorkService"
                     behaviorConfiguration="wsdl">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://ANTOINE-ALI-PC:3100/"/>
                        <add baseAddress="http://ANTOINE-ALI-PC:3101/"/>
                    </baseAddresses>
                </host>
                <endpoint contract="GeneratorServiceContracts.IWorkService"
                          binding="netTcpBinding"
                          address=""/>
                <endpoint contract="IMetadataExchange"
                          binding="mexHttpBinding"
                          address="mex"/>
                <endpoint contract="GeneratorServiceContracts.IWorkService"
                          binding="basicHttpBinding"
                          address=""/>
            </service>
        </services>
    </system.serviceModel>
</configuration>