<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="wsdl">
                    <serviceMetadata httpGetEnabled="True"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="GeneratorService.WorkService"
                     behaviorConfiguration="wsdl">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://10.144.127.187:3100/"/>
                        <add baseAddress="http://10.144.127.187:3101/"/>
                    </baseAddresses>
                </host>
                <endpoint contract="GeneratorServiceContracts.IWorkService"
                          binding="netTcpBinding"
                          address=""/>
                <endpoint contract="IMetadataExchange"
                          binding="mexHttpBinding"
                          address="mex"/>
                <endpoint contract="GeneratorServiceContracts.IWorkService"
                          binding="basicHttpBinding"
                          address=""/>
            </service>
            <service name="GeneratorService.CallBackService">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://10.144.127.187:3200/"/>
                        <add baseAddress="http://10.144.127.187:3201/"/>
                    </baseAddresses>
                </host>
                <endpoint contract="GeneratorServiceContracts.ICallBackService"
                          binding="netTcpBinding"
                          address=""/>
            </service>
        </services>
        <client>
            <endpoint address="net.tcp://localhost:3200/"
                      binding="netTcpBinding"
                      contract="GeneratorServiceContracts.ICallBackService"
                      name="callBackEndpoint">
                <identity>
                    <userPrincipalName value="ANTOINE-ALI-PC\Antoine-Ali"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>