<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <connectionStrings>
        <add name="DataGenConnexion" connectionString="metadata=res://*/DataGen.csdl|res://*/DataGen.ssdl|res://*/DataGen.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=master;persist security info=True;user id=sa;password=Generator;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v12.0" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="wsdl">
                    <serviceMetadata httpGetEnabled="True" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="GeneratorService.WorkService" behaviorConfiguration="wsdl">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://ANTOINE-ALI-PC:3100/" />
                        <add baseAddress="http://ANTOINE-ALI-PC:3101/" />
                    </baseAddresses>
                </host>
                <endpoint contract="GeneratorServiceContracts.IWorkService" binding="netTcpBinding" address="" bindingConfiguration="NetTcpBinding_IWorkService"/>
                <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
                <endpoint contract="GeneratorServiceContracts.IWorkService" binding="basicHttpBinding" address="" bindingConfiguration="BasicHttpBinding_IWorkService"/>
            </service>
        <service name="GeneratorService.SubService">
            <host>
                <baseAddresses>
                    <add baseAddress="net.tcp://ANTOINE-ALI-PC:3200/" />
                </baseAddresses>
            </host>
            <endpoint contract="GeneratorService.ISubService" binding="netTcpBinding" address="" bindingConfiguration="NetTcpBinding_Callback" />
        </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="GeneratorPortBinding" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_IWorkService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWorkService" receiveTimeout="20:00:00" sendTimeout="20:00:00"
                         maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" portSharingEnabled="True">
                    <security mode="Message">
                        <message algorithmSuite="Basic128"/>
                    </security>
                </binding>
                <binding name="NetTcpBinding_Callback" portSharingEnabled="True">
                    <security mode="Message">
                        <message algorithmSuite="Basic128"/>
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://pc-paul:27269/Generator/Generator" binding="basicHttpBinding" bindingConfiguration="GeneratorPortBinding" contract="JavaServer.Generator" name="GeneratorPort" />
                <endpoint contract="GeneratorService.ISubService" address="net.tcp://localhost:3200/" binding="netTcpBinding" name="callBackEndpoint" />
        </client>
    </system.serviceModel>
</configuration>