<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <client>
                <endpoint contract="GeneratorServiceContracts.IWorkService"
                          binding="netTcpBinding"
                          address="net.tcp://localhost:3100/"
                          name="workEndpoint"/>
                <endpoint contract="GeneratorServiceContracts.ICallBackService"
                          binding="netTcpBinding"
                          address="net.tcp://localhost:3200/"
                          name="callBackEndpoint"/>
        </client>
    </system.serviceModel>
</configuration>