<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWorkService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWorkService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://10.144.127.187:3100/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWorkService" contract="IWorkService"
                name="NetTcpBinding_IWorkService">
                <identity>
                    <userPrincipalName value="ANTOINE-ALI-PC\Antoine-Ali" />
                </identity>
            </endpoint>
            <endpoint address="http://10.144.127.187:3101/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWorkService" contract="IWorkService"
                name="BasicHttpBinding_IWorkService" />
        </client>
    </system.serviceModel>
</configuration>